<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="info.hossainkhan.dailynewsheadlines">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.microphone"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="true" />

    <application
        android:name="info.hossainkhan.android.core.CoreApplication"
        android:allowBackup="true"
        android:banner="@mipmap/headlines_banner"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:logo="@mipmap/headlines_banner"
        android:supportsRtl="true"
        android:theme="@style/Theme.Leanback">
        <activity
            android:name=".launcher.LauncherActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".browser.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape">
        </activity>

        <activity
            android:name=".settings.SettingsActivity"
            android:screenOrientation="landscape"
            android:exported="true"
            android:theme="@style/Theme.Example.LeanbackPreferences" />

        <activity
            android:name=".details.HeadlinesDetailsActivity"
            android:screenOrientation="landscape"
            android:exported="true"
            android:theme="@style/Theme.Example.LeanbackDetails" />

        <activity
            android:name=".onboarding.OnboardingActivity"
            android:screenOrientation="landscape"
            android:enabled="true"
            android:exported="true"
            android:theme="@style/Theme.Leanback.Onboarding" />

        <activity
            android:name=".about.InformationActivity"
            android:screenOrientation="landscape"
            android:enabled="true"
            android:exported="true"
            android:theme="@style/Theme.Leanback.GuidedStep" />

    </application>

</manifest>